/* ==UserStyle==
@name           MCOS OP Portal beautify
@namespace      github.com/openstyles/stylus
@version        1.0.2
@description    custom userStyle for Twitch dark mode
@author         ceekay
@updateURL	    https://github.com/ceekayHU/UserStyles/raw/main/mcosBeautify.user.css
==/UserStyle== */
@-moz-document domain("6.150.10.6"),
domain("6.150.3.145") {
    button
   ,body
   ,div
   ,li
   ,th
   ,ul
   ,a {
        background: none !important;
        background-image: none !important;
    }
    .ui-menu
   ,.ui-menu-parent
   ,.ui-menu-child
   ,.popup
   ,.ui-dialog {
        background: #191919 !important;
    }
}
@-moz-document domain("6.150.3.145") {
    #footer {
        background: #ff00ff4f !important;
    }
}
@-moz-document domain("6.150.10.6") {
    #footer {
        background: #23d70770 !important;
    }
}
